    
     body {
        font-family: Arial, sans-serif;
        margin: 20px;
        background-color: #6779f0;
        background-repeat:no-repeat;
        background-size:cover;
    }
    
    .button-container {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-around;
    }
    .heading,.heading1,.heading2{
        margin-left: auto;
        margin-right: auto;
    }
    .heading1{
        color: rgb(13, 62, 43);
        font-size: 50px;
        text-align: center;
        
        font-weight: 900;
    }
    .heading2{
        color: rgb(5, 3, 0);
        text-align: center;
        margin-bottom: 60px;
        margin-top: 60px;
        font-weight: 900;
        font-family: monospace;
    }

    .but {
        background-color:darkslategray;
        color: white;
        padding: 10px 15px;
        margin: 5px;
        border: none;
        cursor: pointer;
        border-radius: 5px;   
    }
    .container button
    {
        width: 131px;
        margin: 0px;
        border-radius: 30px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .button .icon 
    {
        color: darkslategray;
        font-size: 25px;
        background-color: #ddd;
        display: flex;
        align-items: center;
        width: 50px;
        height: 44px;
        border-radius: 30px;
        justify-content: center;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .button-containor
    {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
    }
    .button
    {
        margin-right: 34px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

.button-last
{
    margin-right: 75px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.button-last button
{
    width: 180px;
    margin: 0px;
    border-radius: 30px;
}
    button:hover {
        background-color: #756dea;
    }
    .table-success{
        text-align: center;
        font-weight: 900; 
    }
    
    /*.table>:not(caption)>*>*{
        background: transparent;
    }
    
   
    